:root{
  --backgroundColor : rgba(109,124,144,.1);
  --maincolor : rgba(163, 79, 219, 0.918); 
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: white;
}

button{
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: var(--maincolor);
  color: white;
  font-size: 20px;
  font-weight:bold;
  /* margin:auto; */
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover{
  background-color: rgb(37, 56, 82);
  transition: .3s;
}