

/*---------------- Card ----------------*/

.cardFonc--container{
    padding: 20px;
    max-width: calc(180vh / 3);
    height: 160px;
    background-color: var(--maincolor);
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    border-radius: 8px;
    position: relative;
    box-shadow: 2px 2px 12px 8px #aaaaaa;
}
.numero{
    position: absolute;
    left: 25px;
    bottom: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--secondarycolor);
    /* font-weight:300; */
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* overflow:visible; */
}

.cardFonc--container > img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.cardFonc--container h4{
    margin-top: 5px;
    margin-bottom: 0px;
}

.text--container{
    margin-bottom: 500px;
}



/*--------------- All cards ----------------*/

.fonc--container{
    display: flex;
    justify-content: space-evenly;

}

.title2{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    text-align: center;
}
.foncAll--container{
    background-color: var(--backgroundColor) ;
    padding: 30px 0 80px 0;
    
}
