/* body {
  background-color: #f9f9fa
} */

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
  text-align: center;
  color: white;
  /* position: relative; */
}

.user-card-full .user-profile p{
  font-size: 17px;
  font-weight: 300;
}

.bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
  padding: 20px 0 ;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px !important;

}

.col-sm-6{
  /* padding-right: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.col-sm-8{
  width:70%;
  height: 550px;
}

.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.row1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-left: 50px;
}

.card-block {
  padding: 1.25rem;
  /* text-align: center; */
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.fb{
  height: 30px;
  width: 30px;
  /* position: absolute;
  bottom: 50px; */
  /* margin: 20px; */
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.col-md-12{
  margin: auto;
  margin-top: -100px !important;
  width: 70%;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


