.searchInputs {
    /* margin-top: 105px; */
    display: flex;
    position: relative;
    box-shadow: 0px 3px 10px 4px #aaaaaa;
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    font-size: 18px;
    /* padding: 15px; */
    height: 40px;
    width: 500px;
    border-radius: 10px;
  }

  .searchInputs img{
    width: 22px;
    height: 22px;
    /* border-right: 1px solid black; */
    /* position: absolute; */
    margin: auto;
    margin-left: 13px;
    margin-right: 10px;    
  }
  
  .search input {
    border: none;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    font-size: 18px;
    border-radius: 10px;
    border-left: 2px solid rgba(109, 124, 144, 0.534);
    padding-left: 10px;
    width: inherit;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: gray;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-left:45px ;
    margin-top: 5px;
    width: 455px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    margin-top: 45px;
    /* margin-left: ; */
    z-index: 500;
    border-radius: 5px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .searchitem p {
    margin: 0;
  }
  .searchitem {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .searchitem:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }
  .Search--container{
    padding: 20px 10px 10px 40px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 4px #aaaaaa;
    margin-bottom: 500px;
} 
.search{
  display: flex;
  align-items: center;
  flex-direction: column;
}