


/* ---------Card------------ */
.image{
    width: 70px;
    height: 70px;
    /* border-radius: 50% ; */
    transition: .4s;
}

.img--container{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(126, 49, 177, 0.897); 
    border-radius: 50%;
    margin-bottom: -10px;
}

.card--container{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--container:hover .image{
    width: 80px;
    height: 80px;
}

.name{
    max-width: 100px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}
/*----------AllCards---------*/

.cards--container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 10px 70px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
}

.services--container{
    background-color: rgba(109, 124, 144, 0.301);
    border-radius: 15px;
    width: 95%;
    margin: auto;
    transition: .3s;
    margin-bottom: 100px;
}
.btn--cards{
    width: 110px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: var(--maincolor);
    color: white;
    font-size: 18px;
    font-weight:bold;
    /* margin:auto; */
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    /* margin-left: 400px; */
    display: block;
    margin: auto;
}
