.nav
{   
    color :white;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(86,62,91,1) 42%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; 
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-logo
{
    margin-right: auto;
}
.nav>ul
{
    list-style: none;
}

.nav>ul>li 
{
    display: inline-block;
    padding: 0 20px ;
}
/* .navbar-dropdown-button
{
    color: white;
}
*/
.navbar-dropdown-all-items
{
    padding: 0;
    margin :0;
    list-style: none;
    background:  var(--secondarycolor);
    box-shadow:  0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    margin-right: auto;
    cursor: pointer;
}

.navbar-dropdown-items
{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 7px;
    background: var(--secondarycolor);
    color: white;
    font-size: 15px;
    /* margin:auto; */
    /* cursor: pointer; */
}
.navbar-dropdown-items:hover
{
    background : #040225;
}
.navbar-dropdown-button
{
    cursor: pointer;
    background:  var(--secondarycolor) ;
    border-radius: 7px;
    padding: 10px 30px;
}