.nav
{   
    color :white;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(86,62,91,1) 42%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    height: 55px;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    top: 0;
}

/* .nav--container{
    display: flex;
    flex-direction: column;
} */
.nav-logo
{
    margin-left: 20px;
}
.nav>ul ,.navbar-dropdown
{
    list-style: none;
}

.navbar-links li
{   
    transition: 0.8s;
    display: inline-block;
    padding: 0 20px ;
    font-weight: bold;
}


.dropdown{
    background-color: rgb(187, 125, 228);
    border-radius: 5px;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    margin-top: -38px;
    margin-right: 3px;
    display: inline-block;
    position: fixed;
    right: 0;
    z-index: 100;
}
.dropdown::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(187, 125, 228);    
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    rotate: 45deg;
    top: 0px;
}
.dropdown--none{
    display: none;
}
.dropdown li{
    padding: 5px;
}

.dropdown li:hover{
    border-bottom: 2px solid rgba(126, 49, 177, 0.897);
}

/* .navbar-dropdown-button
{
    color: white;
}
*/
.navbar-dropdown-all-items
{
    padding: 0;
    margin :0;
    list-style: none;
    background:  var(--secondarycolor);
    box-shadow:  0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    margin-right: auto;
    cursor: pointer;
}
.navbar-dropdown>li
{
    transition: 0.8s;
    padding: 0 20px ;
    font-weight: bold;
}
.navbar-dropdown-items
{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: var(--secondarycolor);
    color: white;
    font-size: 15px;
    /* margin:auto; */
    /* cursor: pointer; */
}
.navbar-dropdown-items:hover
{
    background : #040225;
}
.navbar-item:hover
{
    background: var(--secondarycolor);
    visibility: none;
    transition: 0.4s;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px 30px;
}
.navbar-menu
{
    display: flex;
    flex-direction: column;
}

.user-img{
    width: 19px;
    height: 19px;
    margin-right: 13px;
}

.user--name{
    /* margin-top: 5px; */
}

.user--btn{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 0px;
}

.btn-holded{
    background: var(--secondarycolor);
    visibility: none;
    transition: 0.4s;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 30px !important;
}

.btn-holded-profile{
    background: var(--secondarycolor);
    visibility: none;
    transition: none !important;
    border-radius: 7px;
    cursor: pointer;
    padding: 7px 30px 7px 30px !important;
    /* display: flex;
    flex-direction: column; */
}