.nav
{   
    color :white;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(86,62,91,1) 42%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; 
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    top: 0;
}
.nav-logo
{
    margin-right: auto;
}
.nav>ul ,.navbar-dropdown
{
    list-style: none;
}

.navbar-links li
{   
    transition: 0.8s;
    display: inline-block;
    padding: 0 20px ;
    font-weight: bold;
}
.navbar-items 
{
    transition: 0.8s;
}
/* .navbar-dropdown-button
{
    color: white;
}
*/
.navbar-dropdown-all-items
{
    padding: 0;
    margin :0;
    list-style: none;
    background:  var(--secondarycolor);
    box-shadow:  0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    margin-right: auto;
    cursor: pointer;
}
.navbar-dropdown>li
{
    transition: 0.8s;
    padding: 0 20px ;
    font-weight: bold;
}
.navbar-dropdown-items
{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: var(--secondarycolor);
    color: white;
    font-size: 15px;
    /* margin:auto; */
    /* cursor: pointer; */
}
.navbar-dropdown-items:hover
{
    background : #040225;
}
 .navbar-item:hover
{
    background: var(--secondarycolor);
    visibility: none;
    transition: 0.4s;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 30px;
}
.navbar-menu
{
    display: flex;
    flex-direction: column;
}